input {
    background-color: #eee;
    border: solid 2px #11101D;
    padding: 8px 5px;
    margin-left: 15px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-right: 20px;
}