.bio-row {
    width: 50%;
    float: left;
    margin-bottom: 5px;
    padding: px;

}

.row {
    position: relative;
    margin-top: 75px;
}

input[type=text] {
    width: 210px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

input[type=text]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.right-box {
    transform: translate(100px, 0);

}

button {
    margin-top: 0px;
    margin-left: 80px;
}

.box1 {
    padding: 0 30px;
    width: 73%;
    height: 450px;
    background: white;
    margin-left: 80px;
    box-shadow: 10px 5px 5px rgb(227, 219, 219);
    display: inline-block;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
    transform: translate(100px, 130px);
    position: relative;
}


@media (min-width: 300px) {
    .box1 {
        margin-left: -90px;
        padding: 0;
    }

    .box1 p {
        margin-left: 0px;
        font-size: 12px;
    }

    button {
        font-size: 8px;
        padding: 5px 10px;
        margin-top: -45px;
    }

}

@media (min-width: 576px) {

    button {
        font-size: 10px;
        padding: 10px 30px;
        margin-top: -15px;
    }

    .box1 p {
        font-size: 13px;
    }

    .medical h1 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .box1 h1 {
        font-size: 16px;
    }

}


@media (min-width: 768px) {

    .box1 {
        margin-left: -70px;
    }

    .bio-row p span {
        width: 50px;
    }

    .box1 p {
        font-size: 14px;
    }

    .medical h1 {
        font-size: 20px;
        margin-bottom: 70px;
    }

    .box1 h1 {
        font-size: 20px;
    }

    button {
        font-size: 10px;
        padding: 10px 30px;
        margin-top: -15px;
    }

}

@media (min-width: 992px) {

    button {
        font-size: 12px;
        padding: 12px 45px;
        margin-top: 15px;
    }

    .medical h1 {
        font-size: 30px;
        margin-bottom: 100px;
    }

    .box1 h1 {
        font-size: 30px;
    }

    .bio-row p span {
        width: 100px;
    }

    .box1 {
        margin-left: 30px;
    }

    .box1 p {
        font-size: 15px;
    }

}

@media (min-width: 1200px) {

    .box1 {
        padding: 0 30px;
        margin-left: 80px;
    }

    .box1 p {
        margin-left: 20px;
        font-size: 16px;
    }

}