input[type=text] {
    width: 390px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

input[type=text]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.box1 {
    padding: 0 30px;
    width: 60%;
    height: 800px;
    background: white;
    margin-left: 80px;
    box-shadow: 10px 5px 5px rgb(227, 219, 219);
    display: inline-block;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
    transform: translate(190px, 50px);
    position: relative;
}

.home-section {
    position: relative;
    background: #E4E9F7;
    min-height: 130vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}