@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto') * {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    background-color: #E4E9F7;
}

table {
    position: absolute;
    left: -50px;
    background :none;
    transform: translate(25%, 50px);
    width: 1000px;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 12px 12px;

}

td,
th {
    padding: 15px 20px;
    text-align: center;
}

th {
    background-color: #11101D;
    color: #fafafa;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    text-transform: uppercase;

}

tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

img {
    width: 55px;
    height: 55px;
}

h5 {
    font-size: 18px;
}

p {
    color: rgb(85, 81, 81);
    font-size: 14px;
}

.people {
    display: grid;
    grid-template-columns: 20% 80%;
}

.info {
    margin-top: 16px;
    font-size: 17px;
}


tr:hover {
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.416));
}


@media (min-width: 300px) {


    .info {
            font-size: 8px;
            margin-left: 20px;
        }

    img {
        width: 30px;
        height: 30px;
    }

    td,
    th {
        font-size: 8px;
    }
    
    img {
            width: 40px;
            height: 40px;
        }

    table {
        left: -100px;
        width: 300px;
    }
}


@media (min-width: 576px) {
    table {
            left: -50px;
            width: 400px;
        }

    .info {
        font-size: 12px;
        margin-left: 15px;
    }

    td,
    th {
        font-size: 12px;
    }
}


@media (min-width: 768px) {
    table {
        width: 600px;
    }

    .info {
        font-size: 17px;
        margin-left: 10px;
        margin-top: 12px;
    }

    td,
    th {
        font-size: 17px;
    }
}


@media (min-width: 992px) {
    table {
        width: 900px;
    }

    img {
        width: 55px;
        height: 55px;
    }

    .info {
        margin-left: 0px;
        margin-top: 16px;
    }
}

@media (min-width: 1280px) {
    table {
        width: 950px;
    }
}

@media (min-width: 1290px) {
    table {
        width: 1000px;
    }
}

