html {}


.contact-wrap {
    background: #fff;
    height: 670px;
}
.error {
    color: red
}
.message {
    color: #b8860b
}


.wrapper {
    transform: translate(-250px, 150px);
    margin-top: -120px;
    width: 120%;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 350px;
    transform: translate(0, -50px);
}

select {
    background-color: #eee;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 4px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}




.contactForm .label {
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

h3 {
    transform: translate(50px, 0);
}