<!DOCTYPE html>

<html>

<head>

    <title>Admin page</title>
    <link rel="icon" href="../static/img/logo.png" type="image/icon type">
    <link rel="stylesheet" href="../static/css/Admin_profile.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/View-doctor.css">

</head>

<!-- side barrr -->

<div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">
            <h2>Radisphere<span class="dot">. </h2></span>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">

        <li id="Admin">
            <a href="{{url_for('Admin_profile')}}" class=" active">
                <i class="fa-solid fa-user"></i>
                <span class="links_name">Admin profile</span>
                <span class="tooltip">Admin profile</span>

            </a>
        </li>

        <li id="Adoctor">
            <a href="{{url_for('addDoctor')}}">
                <i class="fa-solid fa-user-doctor"></i>
                <span class="links_name">Add doctor</span>
            </a>
            <span class="tooltip">Add doctor</span>
        </li>
        <li id="Vdoctor">
            <a href="{{url_for('viewdoctor')}}" style="background: white;"">
                <i class=" fa-solid fa-hospital-user" style="color:#11101D;"></i></i>
                <span class="links_name" style="color:#11101D;">View doctor</span>
            </a>
            <span class="tooltip">View doctor</span>
        </li>
        <li id="Analytics">
            <a href="{{url_for('analysis')}}">
                <i class="fa-solid fa-chart-pie"></i>
                <span class="links_name">Analytics</span>
            </a>
            <span class="tooltip">Analytics</span>
        </li>

        <li id="Vclinic">
            <a href="{{url_for('Viewcomplaints')}}">
                <i class="fa-solid fa-comment"></i> <span class="links_name">View feedback</span> </a>
            <span class="tooltip">View feedback</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <img src="../static/img/admin.png" alt="profileImg">
                <div class="name_job">
                    <div class="job">Admin</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out" onclick="location.href='Login'"></i></i>
        </li>

    </ul>
</div>
<section class="home-section">
    <div class="panel">




        <!-- box info -->

        <table>


            <thead>
                <tr>
                    <th>ID</th>
                    <th>doctors' name</th>
                    <th>Clinics' Name</th>
                    <th>Mobile Phone </th>
                    <th>Email </th>
                    <th>salary</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for r in data %}
                <tr>
                    <td>{{r.0}}</td>
                    <td class="people">
                        <img src="../static/img/doctor.png" alt="">
                        <div class="info">
                            {{r.1}}
                        </div>
                    </td>
                    <td>{{r.2}}</td>
                    <td>{{r.3}}</td>
                    <td>{{r.4}}</td>
                    <form method="POST" action="{{url_for('editDoctorSalary')}}">
                        <td> <input type="text" id="newSalary" name="newSalary" required> </td>
                        <td> <button type="submit" name="chooseDoctor" value="{{r.0}}">Update Salary</button> </td>
                    </form>

                </tr>
                {% endfor %}
            </tbody>



        </table>
    </div>




</section>


<script src="../static/js/Admin_profile.js"></script>








</body>

</html>