<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Admin page</title>

    <link rel="stylesheet" href="../static/css/Admin_profile.css">
    <link rel="stylesheet" href="../static/css/Analysis.css">
    <link rel="icon" href="../static/img/logo.png" type="image/icon type">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">

    </script>

    <!-- side barrr -->

    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">
                <h2>Radisphere<span class="dot">. </h2></span>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">

            <li id="Admin">
                <a href="{{url_for('Admin_profile')}}" class=" active">
                    <i class="fa-solid fa-user"></i>
                    <span class="links_name">Admin profile</span>
                    <span class="tooltip">Admin profile</span>

                </a>
            </li>

            <li id="Adoctor">
                <a href="{{url_for('addDoctor')}}">
                    <i class="fa-solid fa-user-doctor"></i>
                    <span class="links_name">Add doctor</span>
                </a>
                <span class="tooltip">Add doctor</span>
            </li>
            <li id="Vdoctor">
                <a href="{{url_for('viewdoctor')}}">
                    <i class="fa-solid fa-hospital-user"></i></i>
                    <span class="links_name">View doctor</span>
                </a>
                <span class="tooltip">View doctor</span>
            </li>
            <li id="Analytics">
                <a href="{{url_for('analysis')}}" style="background: white;"">
                <i class=" fa-solid fa-chart-pie" style="color:#11101D;"></i>
                    <span class="links_name" style="color:#11101D;">Analytics</span>
                </a>
                <span class="tooltip">Analytics</span>
            </li>

            <li id="Vclinic">
                <a href="{{url_for('Viewcomplaints')}}">
                    <i class="fa-solid fa-comment"></i> <span class="links_name">View feedback</span> </a>
                <span class="tooltip">View feedback</span>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <img src="../static/img/admin.png" alt="profileImg">
                    <div class="name_job">
                        <div class="job">Admin</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out" onclick="location.href='Login'"></i></i>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="panel">



            <!-- box info -->


            <div class="big-contain">
                <div class="centerBox">

                    <div class="categoryWrapper">
                        <i class="fa-solid fa-user doc2"></i>
                        <h1 class="first">Patients</h1>
                        <button>
                            <span>
                                <span>
                                    <span data-attr-span={{ patientNum.0 }}>
                                        {{ patientNum.0 }}
                                    </span>
                                </span>
                            </span>
                        </button>
                    </div>

                </div>

                <div class="centerBox">

                    <div class="categoryWrapper">
                        <i class="fa-solid fa-user-doctor doc2"></i>

                        <h1>Doctors</h1>
                        <button>
                            <span>
                                <span>
                                    <span data-attr-span={{ doctorNum.0 }}>
                                        {{ doctorNum.0 }}
                                    </span>
                                </span>
                            </span>
                        </button>
                    </div>

                </div>

                <div class=" centerBox">

                    <div class="categoryWrapper">
                        <i class="fa-solid fa-triangle-exclamation doc2"></i>
                        <h1>Feedbacks

                        </h1>
                        <button>
                            <span>
                                <span>
                                    <span data-attr-span="{{ feedbackdata.0 }}">
                                        {{ feedbackdata.0 }}
                                    </span>
                                </span>
                            </span>
                        </button>
                    </div>

                </div>



            </div>
        </div>
        <div class="big-contain sec-contain">


            <div class="centerBox">

                <div class="categoryWrapper">
                    <i class="fa-solid fa-calendar-check doc2"></i>
                    <h1>Appointments

                    </h1>
                    <button>
                        <span>
                            <span>
                                <span data-attr-span="{{ appointmentdata.0 }}">
                                    {{ appointmentdata.0 }}
                                </span>
                            </span>
                        </span>
                    </button>
                </div>
            </div>

            <div class="centerBox">

                <div class="categoryWrapper">
                    <i class="fa-solid fa-file-circle-check doc2"></i>
                    <h1>Reports

                    </h1>
                    <button>
                        <span>
                            <span>
                                <span data-attr-span="{{ feedbackdata.0 }}">
                                    {{ feedbackdata.0 }}
                                </span>
                            </span>
                        </span>
                    </button>
                </div>
            </div>

        </div>
        </div>

        <div class="chart1">
            <div class="chart-ap">
                <h1>Appointments due to diffrent days in the month
                </h1>
                <canvas id="myChart">

                </canvas>
            </div>
            <div class="chart-pie">
                <h1>Frequency of Devices used</h1>
                <canvas id="pieChart"></canvas>
                <script src="../static/js/Analysis.js"></script>
            </div>

            <script>

                var days = {{ alldays }};
                var months = {{ allmonths }};
                i = 0;
                var xValues = []
                for (let i = 0; i < months.length; i++) {
                    xValues.push(months[i] + "-" + days[i]);
                }

    // setup line chart
    const data = {
      labels: xValues,
      datasets: [{
        label: 'Number of Appointments',
        data: {{ appNum }},
        backgroundColor: [
          'rgba(255, 26, 104, 0.2)',
        ],
        borderColor: [
          'rgba(255, 26, 104, 1)',
        ],
        borderWidth: 1
      }]
    };

    // config
    const config = {
      type: 'line',
      data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render Line block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    var xPie=['{{scanName.0}}','{{scanName.1}}','{{scanName.2}}']
    yPie = {{ scanNum }}
    // setup Pie chart
    const dataPie = {
      labels: xPie,
      datasets: [{
        label: 'Number of Appointments',
        data: yPie,
        backgroundColor: [
          'rgba(255, 26, 104, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)'
        ],
        borderColor: [
          'rgba(255, 26, 104, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)'

        ],
        borderWidth: 1
      }]
    };

    // config
    const configPie = {
      type: 'pie',
      data:dataPie,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render Pie block
    const pieChart = new Chart(
      document.getElementById('pieChart'),
      configPie
    );

            </script>








        </div>

    </section>





</body>

</html>