<!DOCTYPE html>

<html>

<head>

    <title>Edit ur info</title>
    <link rel="stylesheet" href="../static/css/Patient_profile.css">
    <link rel="stylesheet" href="../static/css/edit-doctor.css">
    <link rel="icon" href="../static/img/logo.png" type="image/icon type">

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">
                <h2>Radisphere<span class="dot">. </h2></span>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">

            <li class="active" id="Admin">
                <a href="{{url_for('Patient_profile')}}">
                    <i class="fa-solid fa-user"></i>
                    <span class="links_name">Profile</span>
                    <span class="tooltip">Profile</span>

                </a>
            </li>

            <li id="Adoctor">
                <a href="{{url_for('viewAppointment')}}">
                    <i class="fa-solid fa-calendar-check"></i>
                    <span class="links_name">View apointments</span>
                </a>
                <span class="tooltip">View apointments</span>
            </li>
            <li id="Vdoctor">
                <a href="{{url_for('Returningdoc')}}">
                    <i class="fa-solid fa-hospital-user"></i></i>
                    <span class="links_name">Reserve apointment</span>
                </a>
                <span class="tooltip">Reserve apointment</span>
            <li id="Vclinic">
                <a href="{{url_for('viewAllReports')}}">
                    <i class="fa-solid fa-file-medical"></i></i> <span class="links_name">View Report</span>
                </a>
                <span class="tooltip">View Report</span>
            </li>
            <li id="Vclinic">
                <a href="{{url_for('Addcomplaints')}}">
                    <i class="fa-solid fa-comment"></i></i> <span class="links_name">Add feedback</span>
                </a>
                <span class="tooltip">Add feedback</span>
            </li>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <img src="../static/img/patient.png" alt="profileImg">
                    <div class="name_job">
                        <div class="job">Patient</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out" onclick="location.href='Login'"></i></i>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="panel">




            <!-- box info -->

            <div class="box1 effect" data-aos="fade-up" data-aos-duration="2000">
                <!-- profile picture -->
                <div class="circular--landscape"> <img src="../static/img/patient1.png" />
                </div>
                <!-- info -->
                <form method="POST" action="{{url_for('edit_personal_pinfo')}}">
                    <h1>Edit your inforamtion</h1>
                    <div class="row">
                        <div class="bio-row">
                            <p><span>First Name </span>:
                                <input type="text" id="fname" name="fname" required>
                            </p>
                        </div>
                        <div class="bio-row ">
                            <p class="right-box"><span>Last Name </span>: <input type="text" id="fname" name="lname"
                                    required></p>
                        </div>

                        <div class="bio-row ">
                            <p><span>Age</span>: <input type="text" id="fname" name="age" required></p>
                        </div>
                        <div class="bio-row">
                            <p class="right-box"><span>Gender </span>: <input type="text" id="fname" name="gen"
                                    required></p>
                        </div>
                        <div class="bio-row ">
                            <p><span>Email </span>: <input type="text" id="fname" name="email" required></p>
                        </div>
                        <div class="bio-row">
                            <p class="right-box"><span>Mobile </span>: <input type="text" id="fname" name="mobile"
                                    required></p>
                        </div>


                    </div>
                    <button type="submit" name="action" value="update" style="margin-left:40px;">Update</button>
                </form>

            </div>
        </div>




    </section>


    <script src="../static/js/Admin_profile.js"></script>

</body>

</html>