<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>Radisphere</title>
    <link rel="icon" href="../static/img/logo.png" type="image/icon type">
    <link rel="icon" href="../static/img/logo.png" type="image/icon type">
    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- css and fonts and icons -->
    <link rel="stylesheet" href="../static/css/Home.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- AOS Animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <!-- Top Navigation Bar -->

    <div class="navbar fixed-top">
        <div class="container">
            <div class="nav">
                <h2 class="logo">Radisphere<span>.</span></h2>
                <nav>
                    <ul>
                        <li><a href="#home-page" class="active" id="home"> Home</a></li><a></a>
                        <li><a href="#contact-page" id="contact">Contact</a></li>
                        <li><a href="#specialities-page" id="specialities">Treatment</a></li>
                        <li><a href="#About1" id="about">About</a></li>
                        <li><a href="{{url_for('login')}}" id="login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- First Sec intro -->
    <section id="home">

        <div class="intro-container" id="home-page">

            <div class="intro">
                <div class="intro-text">
                    <h1>Welcome to Radisphere</h1>
                    <br>
                    <p>Our mission is to deliver the highest standards of diagnostic health services in the field of imaging and lab to members of our
                    community.</p>
                </div>
                <div class="overlay"></div>
            </div>

        </div>
    </section>
    <!-- contact and opening hours -->
    <section id="contact-page">

        <div class="contact" id="contact-page">

            <div class="reach-us" data-aos="fade-up" data-aos-duration="1000">
                <h2>Reach us</h2>
                <p class="reach">You can easily contact us here</p>
            </div>

            <div class="box-container">

                <div class="contact2">

                    <div class="box1 effect" data-aos="fade-up" data-aos-duration="2000">
                        <i class="fa-solid fa-phone phone"></i>

                        <div class="paragraphContact">
                            <p>City:Cairo</p>
                            <p>Address: El Kasr El Aini street - next to the peace theater </p>
                            <p>Phone:&nbsp;<i class="fa-solid fa-mobile-screen"></i>&nbsp; 01025985560 &nbsp; &nbsp;<i
                                    class="fa-solid fa-phone-volume"></i></i> &nbsp;027361442</p>
                            <p> Email: yourmail@gmail.com</p>
                        </div>
                    </div>

                    <div class="box1 effect" data-aos="fade-up" data-aos-duration="2000">
                        <i class="fa-solid fa-clock phone"></i>
                        <div class="paragraphContact"></div>
                        <p>Monday - <span class="spacing0">Thursday 8.00</span> - 19.00</p>
                        <p><span class="spacing1">Friday 8.00</span> - 18.30</p>
                        <p><span class="spacing2">Saturday 9.30</span> - 17.00</p>
                        <p> <span class="spacing3"> sunday 9.30</span> - 15.00</p>
                    </div>


                </div>

            </div>

        </div>
    </section>
    <!-- Treatment Slider -->
    <section id="specialities-page">

        <div class="swiper mySwiper" id="specialities-page">

            <div class="reach-us" data-aos="flip-up" data-aos-duration="1000">
                <h2>Our Scans</h2>
                <p>You can choose from our many treatments</p>
            </div>


            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h3 data-aos="flip-up" data-aos-duration="2000">MRI</h3>
                    <img src="../static/img/mri.png" data-aos="flip-up" data-aos-duration="1000" />
                </div>
                <div class="swiper-slide">
                    <h3 data-aos="flip-up" data-aos-duration="2000">CT</h3>
                    <img src="../static/img/CT.jpg" data-aos="flip-up" data-aos-duration="1000" />
                </div>
                <div class="swiper-slide">
                    <h3 data-aos="flip-up" data-aos-duration="2000">Ultrasound</h3>
                    <img src="../static/img/Ultrasound.png" data-aos="flip-up" data-aos-duration="1000" />
                </div>
                <div class="swiper-slide">
                    <h3 data-aos="flip-up" data-aos-duration="2000">X-ray</h3>
                    <img src="../static/img/x-ray.jpg" data-aos="flip-up" data-aos-duration="1000" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!-- About us -->
    <section id="About1">

        <div class="About-us " id="About1">
            <div class="container " data-aos="fade-down" data-aos-duration="1000">

                <div class="block-block">
                    <div class="About-left-block">
                        <h2>About Us</h2>
                        <p>The Department of Radiology provides diagnostic imaging services to patients of all age
                            groups,
                            from newborn to geriatric, inpatient as well as ambulatory patients. The department is open
                            24
                            hours a day, seven days a week, and is under the direct supervision of a board-certified
                            radiologist who works closely with the specially trained radiologic technologists in
                            performing
                            each imaging procedure. The department is staffed with registered technologists, many of
                            whom
                            are registered in multiple imaging modalities.For our medical and allied health students we
                            provide multiple avenues of exposure to and education in Radiology view medical student
                            resources now. We are also very active in first and second year medical student education.
                        </p>
                    </div>
                    <div class="About-right-block">
                        <img src="../static/img/Doctor-removebg-preview.png" class="Doctor-img">
                    </div>
                    <div class="About-upper-block">
                        <h3><i class="fa-solid fa-info"></i></h3>
                    </div>
                </div>
            </div>
        </div>



        </div>

    </section>
    <!-- Footer -->

    <footer>
        <div class="footer-content">

            <h3>Radisphere.</h3>
            <p>is a leading private provider of diagnostic and interventional imaging services across Egypt. We bring the most
            skilled professionals in the field, together with cutting-edge technology under one roof to ensure the highest standards
            of quality care for you.</p>

            <div class="socials">
                <a href="#" data-aos="fade-right" data-aos-duration="2500">
                    <li class="fab fa-facebook-f"></li>
                </a>
                <a href="#" data-aos="fade-right" data-aos-duration="2000">
                    <li class="fab fa-twitter"></li>
                </a>
                <a href="#" data-aos="fade-right" data-aos-duration="1000">
                    <li class="fab fa-instagram"></li>
                </a>
                <a href="#" data-aos="fade-right" data-aos-duration="3500">
                    <li class="fab fa-linkedin-in"></li>
                </a>
            </div>

            <div class="footer-bottom">
                <p>copyright &copy;2022 Radisphere. designed by <span>Mostafa and Ghobashy</span></p>
            </div>

        </div>
    </footer>




    <script src="../static/js/Home.js"></script>

    <!-- For AOS Animation  -->

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


    <!-- swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: false,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 15,
                stretch: 0,
                depth: 300,
                modifier: 1,
                slideShadows: false,
            },

            loop: true,

            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },

            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>


</body>
</html>