<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Login</title>
        <link rel="icon" href="../static/img/logo.png" type="image/icon type">
        <link rel="stylesheet" href="../static/css/Login.css">
        <link rel="stylesheet" href="../static/css/font-awesome.css">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>




    <body>

        <div class="back">
            <a href="http://127.0.0.1:5000/"><img src="../static/img/back.png" alt=""></a>
        </div>

        <div class="container" id="container">
            <script>
                var active = {{reg}};
                if (active) {
                    container.classList.add("right-panel-active");
                }
            </script>

            <div class="form-container sign-in-container">
                <form method="POST" action="{{url_for('login')}}" enctype="multipart/form-data">

                    <img class="avatar" src="../static/img/avatar.svg">

                    <h1>Login</h1>

                    <div class="social-container">

                    </div>
                    <div>
                       {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
<!--                          {% set printed_messages = dict() %}-->
                          {% for category, message in messages %}
                            {% if category == 'logerror' %}
                              <div class="{{category}}">{{message}}</div>
                              {% set x = printed_messages.__setitem__(message, "value")  %}
                            {% endif %}
                          {% endfor %}
                      {% endif %}
                    {% endwith %}

                        </div>

                    <span>Please enter your account</span>

                    <div class="input-container">
                        <div class="icon">
                            <i class="fa-solid fa-id-badge"></i>
                        </div>
                        <input type="text" placeholder="ID" name="RID" required />
                    </div>

                    <div class="input-container">
                        <div class="icon">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <input type="password" placeholder="Enter your password" name="Pass" required />
                    </div>

                    <!-- <a href="#" class="forgot">Forgot password?</a> -->
                    <button type="submit" name="action" >Login</button>
                
                </form>
            </div>

            <div class="form-container sign-up-container">
                <form method="POST" action="{{url_for('Register')}}" onsubmit="EnquireButton()">

                    <h1>Create Account</h1>
                    <div class="social-container">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                          {% for category, message in messages %}
                            {% if category != 'logerror' %}
                              <div class="{{category}}">{{message}}</div>
                            {% endif %}
                          {% endfor %}
                      {% endif %}
                    {% endwith %}
			        </div>
                    <span>Use your email for registration</span>
                    
                    <div class="input-container">
                        <div class="icon">
                            <i class="fa-solid fa-id-card"></i>
                        </div>

                        <div class="name-container">
                            <input type="text" placeholder="First name" name="patientFname"required />
                            <input type="text" placeholder="Last name" name="patientLname" required class="last-name" />
                        </div>
                        
                    </div>
                    
                    <div class="input-container">
                        <div class="icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <input type="email" placeholder="Your email" name="patientEmail"  required />
                    </div>

                    <div class="input-container">
                        <div class="icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                         <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                               type = "number" maxlength = "11" placeholder="Phone Number" name="patientphone" required />
                    </div>

                    <div class="input-container">
                        <div class="icon">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <input type="password" placeholder="Set password" name="patientpassword"  required />
                    </div>

                    <button type="submit" name="action" value="Reg" >Sign Up</button>
                </form>
            </div>


            <div class="overlay-container">

                <div class="overlay">
                    
                    <div class="overlay-panel overlay-left">
                        <h1>Join us now!</h1>
                        <p>Already have an account?</p>
                        <button class="ghost" id="signIn">Login</button>
                    </div>

                    <div class="overlay-panel overlay-right">
                        <h1>Welcome Back!</h1>
                        <p>Don't have an account?</p>
                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>

                </div>

            </div>

        </div>


        <script src="../static/js/Login.js"></script>
    </body>

</html>