<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Patient Page</title>
    <link rel="stylesheet" href="../static/css/Patient-reserve.css">
    <link rel="icon" href="../static/img/logo.png" type="image/icon type">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
</head>



<body>

    <!-- side barrr -->

    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">
                <h2>Radisphere<span class="dot">. </h2></span>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">

            <li class="active" id="Admin">
                <a href="{{url_for('Patient_profile')}}">
                    <i class="fa-solid fa-user"></i>
                    <span class="links_name">Profile</span>
                    <span class="tooltip">Profile</span>

                </a>
            </li>

            <li id="Adoctor">
                <a href="{{url_for('viewAppointment')}}">
                    <i class="fa-solid fa-calendar-check"></i>
                    <span class="links_name">View apointments</span>
                </a>
                <span class="tooltip">View apointments</span>
            </li>
            <li id="Vdoctor">
                <a href="{{url_for('Returningdoc')}}" style="background: white;"">
                        <i class=" fa-solid fa-hospital-user" style="color:#11101D;""></i>
                    <span class=" links_name"style="color:#11101D;"" >Reserve apointment</span>
                </a>
                <span class=" tooltip">Reserve apointment</span>
            <li id="Vclinic">
                <a href="{{url_for('viewAllReports')}}">
                    <i class="fa-solid fa-file-medical"></i></i> <span class="links_name">View Report</span>
                </a>
                <span class="tooltip">View Report</span>
            </li>
                <li id="Vclinic">
                <a href="{{url_for('Addcomplaints')}}">
                    <i class="fa-solid fa-comment"></i></i> <span class="links_name">Add feedback</span>
                </a>
                <span class="tooltip">Add feedback</span>
            </li>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <img src="../static/img/patient.png" alt="profileImg">
                    <div class="name_job">
                        <div class="job">Patient</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out" onclick="location.href='Login'"></i></i>
            </li>
        </ul>
    </div>


    <!-- Main -->
    <section class="home-section">

        <!-- Info -->



        <div class="Contact-info">
            <div class="contact-contain">

                <div class="contact-box">

                    <div class="info">
                        <img src="../static/img/phone-call.png" class="phone-img" alt="">
                        <h1>Phone Number</h1>
                    </div>
                    <p>01025985560 - 027361442</p>

                </div>

                <div class="contact-box">
                    <div class="info">
                        <img src="../static/img/location.png" class="location-img" alt="">
                        <h1>Location</h1>

                    </div>
                    <p>El Kasr El Aini street - next to the peace theater</p>
                </div>

                <div class="contact-box">
                    <div class="info">
                        <img src="../static/img/midnight.png" class="clock-img" alt="">
                        <h1>Opening Hours</h1>

                    </div>
                    <p>Everyday from 8am except Saturdays and Sundays</p>
                </div>

            </div>
        </div>





        <!-- Reserve -->
        <div class="reserve-container">

            <div class="overlay"></div>
            <div class="picture-container">
                <img src="../static/img/reserve2.jpg" alt="">
            </div>

            <div class="reserve-box">
                <div class="form-container">
                    <form method="POST" action="{{url_for('ReserveAppointment')}}">
                        <h1>Appointment Request</h1>
                        <div class="double">
                            <div class="input-container">
                                <span>Date</span>
                                <input type="date" name="date" placeholder=" Date of Appointment" required />
                            </div>
                            <div class="input-container">
                                <span>Time</span>
                                <input type="time" name="time" placeholder=" Time of Appointment" required />
                            </div>
                        </div>

                        <span>Type of Scan</span>
                        <div class="input-container">
                            <select name="clinicChosen" id="Doctor">
                                <option value="Doctor">Select Scan</option>
                                {% for r in data %}
                                <option value="{{ r.0 }}">{{ r.0 }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <button type="submit" name="Booking">Confirm Booking</button>

                    </form>

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}           
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>

        </div>




    </section>





    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        flatpickr("input[type=date]", 
        {
            minDate: "today",
            maxDate: new Date().fp_incr(60) // 60 days from now
        }
        
        );
        
    </script>

    <script>
        flatpickr("input[type=time]", 
        {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            minTime: "8:00",
            maxTime: "18:00",
            time_24hr: true
        }
        
        );
        
    </script>

    <script src="../static/js/Admin_profile.js"></script>

</body>

</html>