<!DOCTYPE html>

<html>

<head>

    <title>Doctor page</title>
    <link rel="stylesheet" href="../static/css/Admin_profile.css">
    <link rel="icon" href="../static/img/logo.png" type="image/icon type">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/View-doctor.css">

</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">
                <h2>Radisphere<span class="dot">. </h2></span>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">

            <li id="Admin">
                <a href="{{url_for('doctor_profile')}}" class=" active">
                    <i class="fa-solid fa-user-doctor"></i>

                    <span class="links_name">Doctor profile</span>
                    <span class="tooltip"> Doctor profile</span>

                </a>
            </li>

            <li id="Adoctor">
                <a href="{{url_for('viewPatient')}}" style="background: white;">
                    <i class="fa-solid fa-user" style="color:#11101D;"></i>

                    <span class="links_name" style="color:#11101D;">View patient</span>
                </a>
                <span class="tooltip">View patient</span>
            </li>
            <li id="Vdoctor">
                <a href="{{url_for('viewDocAppointment')}}">
                    <i class="fa-solid fa-hospital-user"></i></i>
                    <span class="links_name">View appointments</span>
                </a>
                <span class="tooltip">View appointments</span>
            </li>
            <li id="Adoctor">
                <a href="{{url_for('ReturningPatient')}}"]>
                    <i class="fa-solid fa-pen"></i>
                    
                    <span class="links_name" >Write A Report</span>
                    <span class="tooltip"> Write A Report</span>

                </a>
            </li>

            <li class="profile">
                <div class="profile-details">
                    <img src="../static/img/doctor-bar.png" alt="profileImg">
                    <div class="name_job">
                        <div class="job">Doctor</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out" onclick="location.href='login.html'"></i></i>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="panel">




            <!-- box info -->

            <table action="{{url_for('viewPatient')}}" method="POST">


                <tr>

                    <th>ID</th>
                    <th>patients' name</th>
                    <!-- <th>Clinics' Name</th> -->
                    <th>Mobile Phone </th>
                    <th>Email </th>

                </tr>
                <tbody>
                    <tr>
                        {% for r in data %}
                        <td>{{ r.0 }}</td>
                        <td class="people">
                            <img src="../static/img/patient2.png" alt="">
                            <div class="info">
                                {{ r.1 }}
                            </div>
                        </td>
                        <td>{{ r.2 }}</td>
                        <td>{{ r.3 }}</td>
                        {% endfor %}

                    </tr>
                </tbody>

            </table>
        </div>




    </section>


    <script src="../static/js/Admin_profile.js"></script>








</body>

</html>