<!DOCTYPE html>

<html>

<head>

    <title>Patient page</title>
    <link rel="icon" href="../static/img/logo.png" type="image/icon type">
    <link rel="stylesheet" href="../static/css/Admin_profile.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/View-doctor.css">

</head>

<!-- side barrr -->

<body>

    <!-- side barrr -->

    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">
                <h2>Radisphere<span class="dot">. </h2></span>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">

            <li class="active" id="Admin">
                <a href="{{url_for('Patient_profile')}}">
                    <i class="fa-solid fa-user"></i>
                    <span class="links_name">Profile</span>
                        <span class=" tooltip">Profile</span>

                </a>
            </li>

            <li id="Adoctor">
                <a href="{{url_for('viewAppointment')}}">
                    <i class="fa-solid fa-calendar-check"></i>
                    <span class="links_name">View apointments</span>
                </a>
                <span class="tooltip">View apointments</span>
            </li>
            <li id="Vdoctor">
                <a href="{{url_for('Returningdoc')}}">
                    <i class="fa-solid fa-hospital-user"></i></i>
                    <span class="links_name">Reserve apointment</span>
                </a>
                <span class="tooltip">Reserve apointment</span>
            <li id="Vclinic">
                <a href="/viewAllReports" style="background: white;">
                    <i class="fa-solid fa-file-medical" style="color:#11101D;"></i></i>
                    <span class="links_name" style="color:#11101D;">View Report</span>
                </a>
                <span class="tooltip">View Report</span>
            </li>
            <li id="Vclinic">
                <a href="{{url_for('Addcomplaints')}}">
                    <i class="fa-solid fa-comment"></i></i> <span class="links_name">Add feedback</span>
                </a>
                <span class="tooltip">Add feedback</span>
            </li>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <img src="../static/img/patient.png" alt="profileImg">
                    <div class="name_job">
                        <div class="job">Patient</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out" onclick="location.href='Login'"></i></i>
            </li>
        </ul>
    </div>




        <!-- box info -->

        <table action="{{url_for('viewdoctor')}}" method="POST">


            <thead>
                <tr>

                    <th>Report ID</th>
                    <th>Diagnosis</th>
                    <th>Doctor Name</th>

                </tr>
            </thead>

            <tbody>
                {% for r in data %}

                    <td>{{r.0}} </td>
                        <td class="people">
                        <img src="{{r.3}}" alt="">
                        <div class="info">
                           <a href="/ViewAReport/{{r.0}}" class="row-link" onclick={{r.0}}>{{r.2}}</a>
                        </div>
                    </td>
                    </td>
                    <td>{{r.1}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>




</section>


<script src="../static/js/Admin_profile.js"></script>








</body>

</html>